In [76]:
import pandas as pd
import numpy as np
from datetime import datetime

In [13]:
sample_data_1 = pd.read_csv("/Users/alex/Desktop/Ebola 2015 Data/CASES,DEATHS - 2023-07-29T201120.165.csv",
                            header=None)

In [29]:
sample_data_1 = sample_data_1.fillna(" ")
sample_data_1.columns = sample_data_1.loc[0] + sample_data_1.loc[1]
sample_data_1[2:]

,Country,Data as of,Case definition,Number of cases Cumulative,Number of deaths Cumulative
2,Guinea,22 April 2015,Confirmed,3145,1950
3,Guinea,22 April 2015,Probable,415,415
4,Guinea,22 April 2015,Suspected,16,Not available
5,Guinea,22 April 2015,Total,3576,2365
6,Liberia,19 April 2015,Confirmed,3151,Not available
7,Liberia,19 April 2015,Probable,1879,Not available
8,Liberia,19 April 2015,Suspected,5182,Not available
9,Liberia,19 April 2015,Total,10 212,4573
10,Sierra Leone,22 April 2015,Confirmed,8584,3520
11,Sierra Leone,22 April 2015,Probable,287,208
12,Sierra Leone,22 April 2015,Suspected,3442,158
13,Sierra Leone,22 April 2015,Total,12 313,3886
14,All countries,,Confirmed,14 880,Not available
15,All countries,,Probable,2581,Not available
16,All countries,,Suspected,8640,Not available
17,All countries,,Total,26 101,10 824

In [28]:
sample_data_2 = pd.read_csv("/Users/alex/Desktop/Ebola 2015 Data/CASES,DEATHS (99).csv",
                            header=None)

sample_data_2 = sample_data_2.fillna(" ")
sample_data_2.columns = sample_data_2.loc[0] + sample_data_2.loc[1]
sample_data_2[2:]

,Country,Data as of,Case definition,Number of cases Cumulative,Number of cases In past 21 days,Number of deaths Cumulative
2,Guinea,19 April 2015,Confirmed,3136,70,1943
3,Guinea,19 April 2015,Probable,415,Not reported.,415
4,Guinea,19 April 2015,Suspected,14,Not reported.,Data not available.
5,Guinea,19 April 2015,Total,3565,70,2358
6,Liberia,19 April 2015,Confirmed,3151,0,Data not available.
7,Liberia,19 April 2015,Probable,1879,Not reported.,Data not available.
8,Liberia,19 April 2015,Suspected,5182,Not reported.,Data not available.
9,Liberia,19 April 2015,Total,10 212,0,4573
10,Sierra Leone,19 April 2015,Confirmed,8575,30,3511
11,Sierra Leone,19 April 2015,Probable,287,Not reported.,208
12,Sierra Leone,19 April 2015,Suspected,3405,Not reported.,158
13,Sierra Leone,19 April 2015,Total,12 267,30,3877
14,All countries,19 April 2015,Confirmed,14 862,100,Data not available.
15,All countries,19 April 2015,Probable,2581,Not reported.,Data not available.
16,All countries,19 April 2015,Suspected,8601,Not reported.,Data not available.
17,All countries,19 April 2015,Total,26 044,100,10 808

In [30]:
sample_data_3 = pd.read_csv("/Users/alex/Desktop/Ebola 2015 Data/CASES,DEATHS.csv",
                            header=None)

sample_data_3 = sample_data_3.fillna(" ")
sample_data_3.columns = sample_data_3.loc[0] + sample_data_3.loc[1]
sample_data_3[2:]

,Country,Case definition,Number of cases Cumulative,Number of cases In past 21 days,Number of deaths Cumulative
2,Guinea,Confirmed,1612,313,934
3,Guinea,Probable,208,12,208
4,Guinea,Suspected,58,Not reported,0
5,Guinea,Total,1878,325,1142
6,Liberia,Confirmed,2553,335,Not reported
7,Liberia,Probable,1687,131,Not reported
8,Liberia,Suspected,2582,Not reported,Not reported
9,Liberia,Total,6822,466,2836
10,Sierra Leone,Confirmed,4523,1197,960
11,Sierra Leone,Probable,79,14,174
12,Sierra Leone,Suspected,766,Not reported,35
13,Sierra Leone,Total,5368,1211,1169

In [38]:
import os

directory = '/Users/alex/Desktop/Ebola 2015 Data/'

ebola_2015_data = pd.DataFrame()

for filename in os.listdir(directory):
    data_path = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(data_path):
        data = pd.read_csv(data_path,
                           header=None)
        data = data.fillna(" ")
        data.columns = data.loc[0] + data.loc[1]
        data = data[2:]

        ebola_2015_data = pd.concat([ebola_2015_data,data])

In [70]:
ebola_2015_data.columns = ['Country','Data as of','Case definition', 'Number of cases Cumulative', 'Number of cases in past 21 days', 'Number of deaths Cumulative']
ebola_2015_data.dropna(subset = ['Data as of'],
                      inplace = True)

In [71]:
ebola_2015_data

,Country,Data as of,Case definition,Number of cases Cumulative,Number of cases in past 21 days,Number of deaths Cumulative
2,Guinea,28 December 2015,Confirmed,3351,0,2083
3,Guinea,28 December 2015,Probable,453,Not reported.,453
4,Guinea,28 December 2015,Suspected,0,Not reported.,Data not available.
5,Guinea,28 December 2015,Total,3804,0,2536
6,Liberia,14 January 2016,Confirmed,9,0,3
...,...,...,...,...,...,...
13,Sierra Leone,5 April 2015,Total,12 138,67,3831
14,All countries,5 April 2015,Confirmed,14 794,191,Data not available.
15,All countries,5 April 2015,Probable,2580,Not reported.,Data not available.
16,All countries,5 April 2015,Suspected,8141,Not reported.,Data not available.
17,All countries,5 April 2015,Total,25 515,191,10 572

In [82]:
guinea_data = ebola_2015_data[ebola_2015_data['Country'] == 'Guinea']
guinea_data['Data as of'] = pd.to_datetime(guinea_data['Data as of'])
guinea_data = guinea_data.sort_values(by = ['Data as of'])

guinea_data.reset_index(inplace = True,
                       drop = True)

guinea_data

/var/folders/4x/v484jjj95cn1j9m1kqx7srth0000gn/T/ipykernel_18961/2288824193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  guinea_data['Data as of'] = pd.to_datetime(guinea_data['Data as of'])

,Country,Data as of,Case definition,Number of cases Cumulative,Number of cases in past 21 days,Number of deaths Cumulative
0,Guinea,2014-11-25,Suspected,21,NaN,0
1,Guinea,2014-11-25,Total,2123,NaN,1284
2,Guinea,2014-11-25,Probable,210,NaN,210
3,Guinea,2014-11-25,Confirmed,1892,NaN,1074
4,Guinea,2014-11-28,Total,2155,NaN,1312
...,...,...,...,...,...,...
1203,Guinea,2016-05-01,Suspected,Not reported.,Not reported.,Not reported.
1204,Guinea,2016-05-08,Confirmed,7,0,5
1205,Guinea,2016-05-08,Probable,3,0,3
1206,Guinea,2016-05-08,Suspected,Not reported.,Not reported.,Not reported.
1207,Guinea,2016-05-08,Total,10,0,8

In [83]:
guinea_data.to_csv('/Users/alex/Desktop/Ebola 2015 Data/Processed_data/guinea_full_data.csv')

In [84]:
Liberia_data = ebola_2015_data[ebola_2015_data['Country'] == 'Liberia']
Liberia_data['Data as of'] = pd.to_datetime(Liberia_data['Data as of'])
Liberia_data = Liberia_data.sort_values(by = ['Data as of'])

Liberia_data.reset_index(inplace = True,
                       drop = True)

Liberia_data

/var/folders/4x/v484jjj95cn1j9m1kqx7srth0000gn/T/ipykernel_18961/931952437.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Liberia_data['Data as of'] = pd.to_datetime(Liberia_data['Data as of'])

,Country,Data as of,Case definition,Number of cases Cumulative,Number of cases in past 21 days,Number of deaths Cumulative
0,Liberia,2014-11-24,Probable,1771,NaN,Not available
1,Liberia,2014-11-24,Suspected,2720,NaN,Not available
2,Liberia,2014-11-24,Confirmed,2753,NaN,Not available
3,Liberia,2014-11-24,Total,7244,NaN,3029
4,Liberia,2014-11-28,Confirmed,2801,278,Data not available
...,...,...,...,...,...,...
1763,Liberia,2016-05-01,Probable,Not reported.,Not reported.,Data not available.
1764,Liberia,2016-05-08,Confirmed,12,0,4
1765,Liberia,2016-05-08,Probable,Not reported.,Not reported.,Data not available.
1766,Liberia,2016-05-08,Suspected,Not reported.,Not reported.,Data not available.
1767,Liberia,2016-05-08,Total,12,0,4

In [86]:
Liberia_data.to_csv('/Users/alex/Desktop/Ebola 2015 Data/Processed_data/liberia_full_data.csv')

In [85]:
Sierra_Leone_data = ebola_2015_data[ebola_2015_data['Country'] == 'Sierra Leone']
Sierra_Leone_data['Data as of'] = pd.to_datetime(Sierra_Leone_data['Data as of'])
Sierra_Leone_data = Sierra_Leone_data.sort_values(by = ['Data as of'])

Sierra_Leone_data.reset_index(inplace = True,
                              drop = True)

Sierra_Leone_data

/var/folders/4x/v484jjj95cn1j9m1kqx7srth0000gn/T/ipykernel_18961/885786100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Sierra_Leone_data['Data as of'] = pd.to_datetime(Sierra_Leone_data['Data as of'])

,Country,Data as of,Case definition,Number of cases Cumulative,Number of cases in past 21 days,Number of deaths Cumulative
0,Sierra Leone,2014-11-25,Probable,79,NaN,174
1,Sierra Leone,2014-11-25,Total,6802,NaN,1463
2,Sierra Leone,2014-11-25,Suspected,1128,NaN,35
3,Sierra Leone,2014-11-25,Confirmed,5595,NaN,1254
4,Sierra Leone,2014-11-28,Confirmed,5831,NaN,1321
...,...,...,...,...,...,...
1239,Sierra Leone,2016-03-17,Total,2,-,1
1240,Sierra Leone,2016-03-17,Confirmed,2,-,1
1241,Sierra Leone,2016-03-17,Probable,Not reported.,Not reported.,Not reported.
1242,Sierra Leone,2016-03-17,Suspected,Not reported.,Not reported.,Not reported.
1243,Sierra Leone,2016-03-17,Suspected,Not reported.,Not reported.,Not reported.

In [87]:
Sierra_Leone_data.to_csv('/Users/alex/Desktop/Ebola 2015 Data/Processed_data/sierraleone_full_data.csv')